.page-container-single-team {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .go-back {
    width: 80%;
    margin-top: 3%;
    margin-bottom: 2%;
    svg {
      margin-right: 1%;
    }
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
  .team-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 2%;
      h1 {
        font-size: 3rem;
        margin-left: 5%;
      }
      .team-logo {
        max-width: 10%;
      }
    }
    .inner-team-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 3%;
      .details-container {
        min-width: 50%;
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            cursor: pointer;
          }
        }
        svg {
          margin-right: 1%;
        }
      }
      .squad-table {
        height: 45vh;
        overflow-y: scroll;
        .player-shirt {
          position: relative;
          img {
            width: 60px;
          }
          span {
            position: absolute;
            width: fit-content;
            left: 35%;
            top: 35%;
          }
        }
      }
    }
  }
  .no-results {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    h1 {
      font-size: 45px;
    }
    p {
      font-size: 30px;
    }
    button {
      font-family: inherit;
      padding: 1%;
      border-radius: 20px;
      border: none;
      font-weight: bold;
      color: #435159;
      background-color: white;
      &:hover {
        background-color: #435159;
        color: white;
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
@media (max-width: 764px) {
  .header {
    flex-direction: column;
    margin-top: 2%;
    .team-logo {
      max-width: 15%;
    }
    h1 {
      font-size: 1.5rem !important;
    }
  }
  .inner-team-container {
    flex-direction: column;
    .players-container {
      margin-bottom: 1%;
    }
  }
}
