@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  margin: 0;
}
.App {
  height: 100vh;
  font-family: 'Raleway' !important;
  width: 100%;
  background-image: url(/static/media/background.afb6d9d5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway' !important;
}

@media only screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
}
